@charset "UTF-8";

/*
    CSS: BOTÃO TESTE JK SISTEMAS
*/

/*
    RESET BODY e HTML
*/

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 100%;
}

/*
    VARIÁVEIS DE CORES NO CSS
*/
:root {
    --blue: #007bff;
    --bg-dark: #263859;
    --bg-amarelo: #e8b932;
    --bg-dark-chumbo: #cccccc;
    --bf-black-90: #484848;
}
/* 
    RESET DE TODOS OS ELEMENTOS, BORDER-BOX 
*/

*, ::after, ::before {
    box-sizing: border-box;
    outline: none !important;
}

/* 
    RESET TAG BUTTON 
*/

a{
    text-decoration: none !important;
}

img {
    vertical-align: middle !important;
    border-style: none !important;
}

/*
    #LOGIN
*/

#login{
    background-color: var(--bf-black-90) !important;
    display: flex;
    height: 100%;
    min-height: calc(100vh - 166px) !important;
    justify-content: center;
    align-items: center;
    
}

#login .TextoBarra{
    font-weight: unset !important;
}

#login>table{
    max-width: 100% !important;
    border-top: solid 5px var(--bg-amarelo);
    border-radius: .25rem;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 1.35rem !important;
    padding-right: 1.35rem !important;
    background-color: var(--bg-dark) !important;
    width: 450px !important;
    box-shadow: 0 0.4rem 1.4rem rgba(0,0,0,.130)!important;
}

#login>table tr>td:first-child{
    width: 50% !important;
    padding-left: 8px;
    padding-right: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #ffffff;
    border-radius: .25rem;
}

#login>table tr td.TextoBarra{
    width: 50% !important;
    padding-left: 15px;
    padding-right: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#login #txtUsuario, #login #txtSenha{
    margin-top: 8px !important;
    width: calc(100% - 32px) !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
    float: left;
}

#login #passwd1, #login #passwd2{
    height: 32px;
    margin-top: 8px !important;
    padding: 7px;
    background-color: #ffffff;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-radius: .25rem;
    border-top: 1px solid #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
    border-right: 1px solid #ced4da !important;
}

#login input[type=text], input[type=password] {
    display: block;
    width: 100%;
    height: 32px;
    padding: 4px 6px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* 
    ESTILO CLASSE BTN COM CORES 
*/

#login input[type=submit]{
    margin-top: 20px;
}

#login input[type=submit]:not(:disabled):not(.disabled).active:focus, #login input[type=submit]:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem rgba(38,143,255,.5) !important;
}

#login input[type=submit] {
    color: #fff;
    background-color: var(--blue) !important;
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid var(--blue) !important;
    padding: 4px 25px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none !important;
    width: 100%;
}

#login input[type=submit]:hover {
    background-color: #0069d9 !important;
    border-color: #0062cc !important;
}

#login .wrap, #login #wrap{
    padding-left: 0 !important;
}

#login #main{
    zoom: unset !important;
}

#conteudo{
    width: 100% !important;
    min-height: calc(100vh - 166px) !important;
}

#login .logo {
    width: 100% !important;
    height: inherit !important;
}

.TextoBarra {
    color: #f5f5f5;
    font-weight: bold;
}

/*
    RODAPÉ
*/

.podbar {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: var(--bg-dark);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}