@charset "UTF-8";

/*
    CSS: BOTÃO TESTE JK SISTEMAS
*/

/*
    RESET BODY e HTML
*/

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/*
    VARIÁVEIS DE CORES NO CSS
*/
:root {
    --blue: #007bff;
    --bg-dark: #263859;
    --bg-amarelo: #e8b932;
}
/* 
    RESET DE TODOS OS ELEMENTOS, BORDER-BOX 
*/

*, ::after, ::before {
    box-sizing: border-box;
}

/* 
    RESET TAG BUTTON 
*/

button {
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0;
}

a{
    text-decoration: none !important;
}

/* 
    ESTILO CLASSE BTN SEM COR 
*/

.btnConfirmar {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* 
    ESTILO CLASSE BTN COM CORES 
*/

.btnConfirmar:not(:disabled):not(.disabled).active:focus, .btnConfirmar:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
}

.btnConfirmar {
    color: #fff;
    background-color: var(--blue);
    border-color: var(--blue);
}

.btnConfirmar:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

/*
    RESET DO MENU
*/

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

#menu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: var(--bg-dark) !important;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;

}

#menu ul {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}

#menu ul li>a{
    display: block;
    padding: .5rem 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
    color: rgba(255,255,255,.5);
    transition: ease-in-out 0.3s;
}

#menu ul li>a:hover{
    color: #ffffff;
}

@media (min-width: 768px){
    .menu {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

#Controles {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#progressBackgroundFilter {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#processMessage {
    position: fixed;
    top: 30%;
    left: 43%;
    z-index: 1001;
    padding: 10px;
    width: 140px;
    border: solid 1px #000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
}

.itemSelecao {
    display: block;
    float: left;
    width: 70px;
    height:70px;
    text-align: center;
    margin: 5px;
}

#barra {
    float: left;
    width: 100%;
    height: 40px;
    border-width: 1px;
    border-color: #2B3D4B;
    border-bottom-style: solid;
    background-color: #263859;
}

.Maquina {
    -webkit-text-shadow: 0px 2px 4px #808075;
    text-shadow: 0px 2px 4px #808075;
    font-size: 4rem;
}

.Pagina {
    padding-left: 15px;
    -webkit-text-shadow: 0px 2px 4px #808075;
    text-shadow: 0px 2px 4px #808075;
    font-size: 25px;
}

.Usina {
    color: var(--bg-amarelo);
    font-size: 18px;
}

.Versao {
    color: var(--bg-amarelo);
    font-size: 11px;
}

#dica {
    position: relative;
    top: 170px;
    left: 232px;
    padding: 10px;
    width: 400px;
    border: 1px solid #AAA78C;
    border-width: 1px;
    border-color: #D1D0C2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #C8C6B5;
    font-size: 15px;
}

.txt
{
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    padding: 1rem;
    margin-bottom: 1rem;
    outline: none;
}

.txts {
    display: inline-block;
    padding: 3px;
    border: 1px #cccccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #ededed;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    color: #2B2B2B;
    text-decoration: none;
}

.rltLista {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 2px;
    padding-left: 2px;
    width: 150px;
    height: 460px;
    border: 1px solid #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.rltItem {
    display: inline-block;
    padding: 3px 3px;
    width: 130px;
    color: #2B2B2B;
    vertical-align: middle;
    text-decoration: none;
}

.lista {
    display: inline-block;
    padding: 3px 3px;
    border: 1px solid #cccccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #ededed;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    color: black;
    text-decoration: none;
}
